:root {
    --card-height: 65vh;
    --card-width: calc(var(--card-height) / 1.5);
  }


  .card {
    background-size: cover;
    background-position: center;
    padding-top: 1px;
    padding-bottom: 1px;
    background-repeat: no-repeat;
    width: var(--card-width);
    height: 450px;
    position: relative;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
  }
  
  .card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
  }
  
  .card:hover:before,
  .card:hover:after {
    animation: none;
    opacity: 0;
  }
  
  .card::before {
    content: "";
    width: 102%;
    height: 100%;
    border-radius: 18px;
    background-image: linear-gradient(
      var(--rotate),
      #f7f7f7,
      #000000 43%,
      #f7f7f7
    );
    position: absolute;
    z-index: -1;
    top: 0;
    left: -1%;
    animation: spin 3.5s linear infinite;
  }
  
  .card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 8); /* Reduced spacing */
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.9); /* Increased size */
    opacity: 1;
    transition: opacity 0.5s;
    animation: spin 2.5s linear infinite;
  }
  
  @property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }
  
 
  
